.edit-task {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    height: 500px;
}
.edit-task-form input {
    display: flex;
}
.status-list {
    display: flex;
    justify-content: space-around;
}
.status-item {
    margin-right: 10px;
    display: flex;
}